os: linux
dist: bionic

language: node_js
node_js:
  - 12

cache:
  directories:
    - ./node_modules

install:
  - npm ci

script:
  - ng build --aot --prod

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: dist/equation-editex
  on:
    branch: master
