.equation-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.equation-container > * {
	margin-bottom: 10px;
}

.input {
	border: 1px var(--primary-lighter-color) solid;
	border-radius: 2px;
	width: fit-content;
	min-width: 10px;
	font-size: 14px;
	height: fit-content;
}

.superscript .input {
	margin-bottom: 15px;
}
.subscript .input {
	margin-top: 15px;
}

.subandsuperscript {
	display: grid;
	grid-template-columns: (1, 1fr);
	grid-auto-rows: 1fr;
}

.input:focus {
	outline: none;
}

ng-katex {
	font-size: 14px;
}