<div class="equation-container" [formGroup]="group">
	<ng-container *ngFor="let component of array.controls; let i = index">
		<ng-container [ngSwitch]="equation[i].type">
			<div *ngSwitchCase="'input'" [formGroup]="component">
				<div class="input" formControlName='value' contenteditable></div>
			</div>
			<div *ngSwitchCase="'function'" [formGroup]='component'>
				<ng-katex *ngSwitchCase="'function'" [equation]="equation[i].value"></ng-katex>
			</div>
			<div *ngSwitchCase="'superscript'" class="superscript">
				<app-equation [array]="$any(component).controls.value" [group]="component" [equation]='equation[i].value'>
				</app-equation>
			</div>
			<div *ngSwitchCase="'subscript'" class="subscript">
				<app-equation [array]='$any(component).controls.value' [group]="component" [equation]='equation[i].value'>
				</app-equation>
			</div>
			<div *ngSwitchCase="'subandsuperscript'" class="subandsuperscript">
				<app-equation [array]='$any(component).controls.value.get([0])' [group]="component" [equation]="equation[i].value[0]"></app-equation>
				<app-equation [array]='$any(component).controls.value.get([1])' [group]="component" [equation]="equation[i].value[1]"></app-equation>
			</div>
		</ng-container>
	</ng-container>
</div>