<div class="equation-container" [formGroup]="group">
	<ng-container *ngFor="let component of array.controls; let i = index">
		<ng-container [ngSwitch]="equation[i].type">
			<app-input *ngSwitchCase="'input'" [path]="path" [group]="component" [index]="i"></app-input>
			<app-operator *ngSwitchCase="'operator'" [component]="equation[i]" [group]="component"></app-operator>
			<app-superscript *ngSwitchCase="'superscript'" [component]='equation[i]' [group]="component"
				[path]="path.concat(i)"></app-superscript>
			<app-subscript *ngSwitchCase="'subscript'" [component]='equation[i]' [group]="component" [path]="path.concat(i)">
			</app-subscript>
			<app-subandsuperscript *ngSwitchCase="'subandsuperscript'" [component]="equation[i]" [group]="component"
				[path]="path.concat(i)"></app-subandsuperscript>
			<app-fraction *ngSwitchCase="'fraction'" [component]="equation[i]" [group]="component" [path]="path.concat(i)">
			</app-fraction>
			<app-binominal *ngSwitchCase="'binominal'" [component]="equation[i]" [group]="component" [path]="path.concat(i)">
			</app-binominal>
			<app-root-c *ngSwitchCase="'root'" [component]="equation[i]" [group]="component" [path]="path.concat(i)">
			</app-root-c>
			<app-function *ngSwitchCase="'function'" [function]="equation[i]" [group]="component" [path]="path.concat(i)">
			</app-function>
			<app-matrix *ngSwitchCase="'matrix'" [matrix]="equation[i]" [group]="component" [path]="path.concat(i)">
			</app-matrix>
		</ng-container>
	</ng-container>
</div>