<mat-toolbar class="title-bar" color="primary"><div class="content-block">
	Equation Editex
</div></mat-toolbar>
<mat-toolbar class="document-bar" color="primary"><div class="content-block">
	<ng-container *ngFor="let group of equations.controls, index as i">
		<ng-container [formGroup]="group">
			<div formControlName="name" class="input" spellcheck="false" [class.active]="i === activeEquation"  (click)="openEquation(i, $event)" (dblclick)="editText($event)" [routerLink]="['/editor', group.value.selector]" contenteditable>{{group.value.name}}</div>
		</ng-container>
	</ng-container>
	<div class="input right" (click)="addNewEquation('New equation')" [routerLink]>Add new</div>
	<div class="input" (click)="addNewEquation('FileName')">Load from file</div>
</div></mat-toolbar>
<div class="content-block">
	<router-outlet></router-outlet>
</div>